@use '../global' as *;

// スクリーンリーダー非表示用
.u-srOnly {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
}

.u-regular {
  font-weight: normal;
}

.u-yugo {
  @include yugo;
}

.u-yugoB {
  @include yugo-bold;
}

.u-arial {
  @include arial;
}

.u-upper {
  text-transform: uppercase;
}

.u-justify {
  text-align: justify;
  text-justify: inter-ideograph;
  text-justify: inter-character;
}

.u-ds-sp {
  @include mq(pc) {
    display: none !important;
  }
}

.u-ds-pc {
  display: none;
  @include mq(pc) {
    display: block;
  }
}

.u-ls0 {
  letter-spacing: 0;
}
.u-ls02 {
  letter-spacing: 0.02em;
}
.u-ls03 {
  letter-spacing: 0.03em;
}
.u-ls05 {
  letter-spacing: 0.05em;
}
.u-ls08 {
  letter-spacing: 0.08em;
}
.u-ls10 {
  letter-spacing: 0.1em;
}
.u-ls15 {
  letter-spacing: 0.15em;
}

.u-tel {
  @include enableHover {
    pointer-events: none;
  }
}
